html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    /* Tufte-style colors */
    background-color: #fffff8;
    color: #111111;
}
h2 {
    font-size: 38px;
}
/* indent header and content */
div#hdr {
    margin-left: 2em;
    margin-top: 1em;
}

div#content {
    width: 90%;
    max-width: 45em;
    margin-top: 2em;
    margin-left: 2em;
}
/* General links */
a {
    text-decoration: none;
    weight: 800;
}
/* Hanging indent effect for lists of things */
ul.hanging-indent {
    padding: 0;
}
ul.hanging-indent li {
    list-style-type: none;
    padding-left: 20px;
    text-indent: -20px;
    margin-bottom: 0.5em;
}
ul.plain {
    text-decoration: none
}
/* references */
.ref  p.ref-line {
    width: 10em;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 2px solid lightgrey
}
.ref p {
    font-size: 90%;
    color: #0d47a1;
}
a.ref-link {
    color: #0d47a1;
    text-decoration: none;
}
/* Navigation */
div#hdr-nav {
 margin-left: 2em;
}
#hdr-nav > ul {
    padding-left: 10px;
}
#hdr-nav ul > li {
    display: inline;
}
#hdr-nav ul > li > ul >  li {
    display: inline-block;
}
#hdr-nav a {
    text-decoration: none;
    color: #000000;
}
#hdr-nav button.select {
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(233, 30, 99);
}
#hdr-nav a.back {

}