<!DOCTYPE html>
<html>
{{> htmlheader }}
<style>
	.section-title {
		font-weight: 700;
	}
	.subheading {
		color: #8C8C8C;
		font-size: 12px;
		margin-top: 30px;
	}
	.designsystem-heading {
		margin-top: 0px;
	}
	div#content.designsystem {
		padding-bottom: 60px;
		max-width: 60em;
	}
</style>
<body>
{{> pageheader }}
<div id="content" class="designsystem">
    <!--
    Add content here
    -->
    <div class="subheading"><span>TASK FLOW</span></div>
    <h3 class="designsystem-heading">Data / Task Monitor</h3> 
    <div>
    	<h4>Intent of task flow:</h4>
    	<p>Task monitors help users track tasks and make decisions based on the status of those tasks. This pattern can be used while running an experiment, in which case, one such decision could be to stop the experiment entirely (in case there are problems with the instrument). In instances where the data monitor is used asynchronously, it can be used to determine if the task should be run again, in cases of failures. 
		</p>
		<p>It is different from other monitoring systems in that it is meant to track ongoing tasks, not the status of a system (which is usually represented by a data dashboard). </p>

    	</p>
    	<h4>Task flow example template</h4>
		<div>
			<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F37Uf0ZDHQxwlCJGGi9l6an%2FUI-Flow-Example-Templates%3Ftype%3Ddesign%26node-id%3D208%253A12703%26t%3Dy87sMiJfTyFpOkqv-1" allowfullscreen></iframe>
		</div>


		<h4>Do’s: </h4>
		<p>
			<ul>	
				<li>Real-time experiments 
					<ul style="padding-bottom: 0;">
						<li style="margin-left:1em">The display should refresh to show new data as the data becomes available</li>
						<li style="margin-left:1em">If data or events need to be reviewed, highlight the new data/events to draw attention to the ones needing review.</li>
						<li style="margin-left:1em">Enable an easy way for users to add notes alongside monitored events</li>
						<li style="margin-left:1em">If the monitor is to be used alongside other software, consider a smaller aspect ratio app (similar to a chat program) for monitoring events, using the desktop ratio version for more detailed work.</li>
					</ul>
				</li>
				<li>Asynchronous monitors</li>
					<ul style="padding-bottom: 0;">
						<li style="margin-left:1em">Usage of states can be useful to help determine next steps. For example, in a job monitor, some indication if the job failed is helpful to determine if the job should be rerun. In cases of experimental observations, the state can determine if more observations are needed. </li>
						<li style="margin-left:1em">Post task monitors should at the first step be a simple list but can allow access to much more data dense views than in real-time monitors, since time is not as constrained. Rich data access can help users determine next steps. </li>
					</ul>
				</li>
			</ul>
		</p>

		<h4>Don’ts:</h4>
		<p>
			<ul>
				<li>Real-time experiments 
					<ul style="padding-bottom: 0;">
						<li style="margin-left:1em">Don’t overload the UI with too much information. Only display enough detail needed to determine whether the experiment is going well or not. Plots and other quick analysis methods can be useful for these determinations</li>
					</ul>
				</li>

			</ul>
		</p>
	</div>


{{> pagefooter }}
</body>
</html>
