<!DOCTYPE html>
<html>
{{> htmlheader }}
<body>
{{> pageheader }}
<div id="content">
    <h2>Overview</h2>
    <p>Design Systems offer rules and guidelines for designing and implementing user
        interfaces for a product.

        They typically provide UI designers & engineers with code collections along with
        design & implementation guidelines for things such as:
    <ul>
        <li>Interface fundamentals like Grid, Theme, Colors, Typography, Layout, etc.
        </li>
        <li>Library or a list of components like Button, Inputs etc. which are the
            building blocks of an interface
        </li>
        <li>Collection of common patterns like Login Pages, Search, Filter, etc.
        </li>
    </ul>
    </p>
    <h3>Design System Comparison</h3>
    <p>Below are some comparisons of existing design systems.
    </p>
    <iframe style="min-width: 800px; min-height: 600px"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSI46UUOm5rKBj2OxMtzBYkROk_Pu703hqCsnrZmrzjH_3j6m8Vlp2CHsNLEKdOqLIQkqvlLAdDhzAy/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <br/>
</div>
{{> pagefooter }}
</body>
</html>
