<!DOCTYPE html>
<html>
{{> htmlheader }}
<body>
{{> pageheader }}
<div id="content">
    <h2>What is a Design System</h2>
    <p>Scientists frequently encounter intricate information that necessitates the use of complex interfaces. Too often the way these interfaces perform similar tasks or present similar information is not consistent between different applications, or sometimes even within a single application.
    <br/>
    A scientific Design System will provide projects with comprehensive guidelines & exemplify patterns which are relevant across multiple scientific domains. 
    </p>
    
    <p>Design Systems offer rules and guidelines for designing and implementing software user interfaces for a project.</p>
    <ul>
        <li>Visual Interface fundamentals like grid, theme, colors, typography and layout
        </li>
        <li>Visual components like buttons, forms etc. which are building blocks of an interface
        </li>
        <li>Common patterns like login, search, notification, filtering, etc
        </li>
        <li>Interaction patterns like taking actions, getting more information, navigating through results, and navigating through the interface</li>
    </ul>

    <p>Using these guidelines, science teams will be able to design and implement more usable & effective interfaces that use consistent styles and behaviors to address their complex workflow requirements.</p>
    
    <h4><a href="flows/">Task Flows</a></h4>
    <p>Our design system will be framed and guided by <a href="flows/">Task Flows</a>, which are a set of steps (represented by a series of screens) that help to accomplish a task and represent how a user progresses through a UI.</p>
    <!-- <h3>Design System Comparison</h3>
    <p>Below are some comparisons of existing design systems.
    </p>
    <iframe style="min-width: 800px; min-height: 600px"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSI46UUOm5rKBj2OxMtzBYkROk_Pu703hqCsnrZmrzjH_3j6m8Vlp2CHsNLEKdOqLIQkqvlLAdDhzAy/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    <br/> -->
</div>
{{> pagefooter }}
</body>
</html>
