<!DOCTYPE html>
<html>
{{> htmlheader }}
<body>
{{> pageheader }}
<div id="content">
    <div class="alert-info">NOTE: The typology is under active development & refinement. Please ask questions and contribute feedback via our mailing list!</div>
    
    <h2>Background</h2>
    <h3>What is a Typology</h3>
        <p>A sociotechnical typology of scientific work enables researchers to systematically analyze & compare diverse scientific projects. This analysis helps surface commonalities that impact software being produced and used by different domains and organizations. 
        </p>
        <p>The STRUDEL Typology is a tool for categorizing key elements making up scientific projects building and using software products. It is designed to help users identify and compare common activities in scientific work that should be considered when focusing on user experiences, software sustainability, and more.
        </p>
    <!--
    <h3>How to use the Typology</h3>
    <ul>
        <li>Initially teams will be able to answer questions & fill out elements of the typology in a spreadsheet. 
        </li>
        <li>They can then compare their project to samples and identify what investments and strategies demonstrated success at different points in time. 
        </li>
        <li>Strategies will also illustrate key questions to ask during planning & execution of a project to impact its overall success.
        </li>
    </ul>
    -->
    <h3>Who can use the Typology</h3>
    <p>The STRUDEL typology is intended to support a range of users with their work. Key examples include:</p>
    <ul>
        <li><b>Funding Agencies</b> — Staff can use the typology to evaluate proposed projects and request investment or planning for UX, software sustainability, and so on.</li>

        <li><b>Project Leadership</b> — Project leaders can identify opportunities for UX, Software Sustainability, Community Engagement, etc. and determine when and how much to invest over a project's life cycle.</li>

        <li><b>Project Domain Experts</b> — Scientists on the project can identify & give feedback on common workflows to help specify requirements for the software products being developed.</li>

        <li><b>Project Developers</b> — Project developers can use the typology to identify common task flows & examine which pieces of the Design System to start their work with.</li>
    </ul>
    <h3>How we developed the Typology</h3>
    <p>The STRUDEL team developed this typology through reviewing years of its user experience research products, the sociotechnical literature, examination of diverse project planning documents and products, and interviews with project leaders.
    </p>
   
    <h2>STRUDEL Typology Overview</h2>
    <p>To help teams conduct effective UX work a typology of scientific software work needs to help explore relationships between three key sociotechnical elements:
    </p>
    <ul>
        <li><b>Organizational Issues</b> — the bounding, bedrock contexts shaping the work at hand
        <li><b>Social Issues</b> — the dynamics of people arranged into teams doing work
        <li><b>Technical Issues</b> — the details shaping software product(s) & affecting a user’s experience
    </ul>
    <p>Drawing upon these three overarching elements we have defined three top level facets to organize the various dimensions and questions. These include <b>Project Composition</b> arranging concerns around organizational issues, <b>People & Teams</b> capturing the social concerns, and <b>Software Product(s)</b> to structure technical issues.

        <img src="{{ assets }}/images/typology-keyfacets.png" alt="The three key facets of the STRUDEL typology: Project Composition, People & Teams, and Software Product(s)."
         width="90%">
    </p>

</div>


{{> pagefooter }}
</body>
</html>
