<!DOCTYPE html>
<html>
{{> htmlheader }}
<body>
{{> pageheader }}
<div id="content">
    <h2>What is a Typology</h2>
    <p>A typology enables us to systematically analyze & compare diverse scientific projects. This analysis helps surface commonalities that impact user experiences & sustainability of the software being produced and used.
    <br/>
    The STRUDEL Typology is a tool for categorizing key elements making up scientific projects building and using software products. It helps us identify and compare common activities in scientific work that should be considered when focusing on UX, software sustainability, and so on.
    </p>
    
    <ul>
        <li>Initially teams will be able to answer questions & fill out elements of the typology in a spreadsheet. 
        </li>
        <li>They can then compare their project to samples and identify what investments and strategies demonstrated success at different points in time. 
        </li>
        <li>Strategies will also illustrate key questions to ask during planning & execution of a project to impact its overall success.
        </li>
    </ul>
    <h2>How can the Typology be used</h2>
    <p>Following are just a few of many examples of how the typology may be useful:</p>
    <ul>
        <li><b>Project Leadership:</b> Project leaders can identify opportunities for UX, Software Sustainability, Community Engagement, etc. and determine when and how much to invest over a project's life cycle.</li>

        <li><b>Project Domain Experts:</b> Scientists on the project can identify & give feedback on common workflows to help specify requirements for the software products being developed.</li>

        <li><b>Project Developers:</b> Project developers can use the typology to identify common task flows & examine which pieces of the Design System to start their work with.</li>

        <li><b>Funding Agencies:</b>  Staff can use the typology to evaluate proposed projects and request investment or planning for UX, software sustainability, and so on.</li>
    </ul>
   
</div>
{{> pagefooter }}
</body>
</html>
