<!DOCTYPE html>
<html>
{{> htmlheader }}
<body>
{{> pageheader }}
<div id="content">
 <h2>Task-flows</h2>
    <p>A user's flow through a Science UI when trying to accomplish particular scientific tasks are often distinct compared to commercial software and often emerge across scientific domains. <br/>
    
    We focused our initial efforts developing these flows into our design system, which we refer to as <b>Task Flows</b>. Multiple task flows can be combined to create a formal workflow that can be represented as a DAG computationally.</p>
    <p>
        We have documented several recurring task flows found in scientific applications. Our characterizations come from our team's extensive experience and observations in the field, supplemented by heuristic evaluations of prioritized scientific software.
    </p>
    <p>The documentation for each task flow includes a standard visual template and a set of user experience design guidelines</p>
    <ul class="mdl-list">
        <li class="mdl-list__item">
        <a href="./optimization.html">Optimization</a>.
            Running Optimizations / Simulations / Analyses
        </li>
        <li class="mdl-list__item">
        <a href="./comparison.html">Comparison</a>.
            Comparing Scenarios/ Analyses / Simulations
        </li>
        <li class="mdl-list__item">
        <a href="./explore-entities.html">Exploring entities</a>.
            Exploring entities/ data list / collections
        </li>
        <li class="mdl-list__item">
        <a href="./dataset.html">Dataset</a>.
            Finding, Exploring, and Downloading Datasets
        </li>
         <li class="mdl-list__item">
        <a href="././data-contributions.html">Contributing Data</a>.
            Contributing data/ dataset / collections
        </li>
        <li class="mdl-list__item">
        <a href="./monitor.html">Monitoring</a>.
            Monitoring Tasks / Experimental Events / Data
        </li>
    </ul>
</div>
{{> pagefooter }}
</body>
</html>
