<!DOCTYPE html>
<html>
{{> htmlheader }}
<body>
{{> pageheader }}
<div id="content">
 <h2>Flows</h2>
    <p>We are exploring a general way of documenting different kinds of task flows.</p>
    <ul class="mdl-list">
        <li class="mdl-list__item">
        <a href="./dataset.html">Dataset</a>.
            Finding, Exploring, and Downloading Datasets
        </li>
        <li class="mdl-list__item">
        <a href="./monitor.html">Monitoring</a>.
            Monitoring Tasks / Experimental Events / Data
        </li>
        <li class="mdl-list__item">
        <a href="./optimization.html">Optimization</a>.
            Running Optimizations / Simulations / Analyses
        </li>
        <li class="mdl-list__item">
        <a href="./comparison.html">Comparison</a>.
            Comparing Scenarios/ Analyses / Simulations
        </li>
        <li class="mdl-list__item">
        <a href="././data-contributions.html">Contributing Data</a>.
            Contributing data/ dataset / collections
        </li>
        <li class="mdl-list__item">
        <a href="./explore-entities.html">Exploring entities</a>.
            Exploring entities/ data list / collections
        </li>
    </ul>
</div>
{{> pagefooter }}
</body>
</html>
