<!DOCTYPE html>
<html>
{{> htmlheader }}
<body>
{{> pageheader }}
<div id="content">
    <h2>Connect with us</h2>    
    <ul>
        <li>Get in touch with us at <a href="mailto:strudel@lbl.gov" target="_blank" >strudel@lbl.gov</a>
        </li>
        <li>Sign up for our mailing list to learn more by sending a mail to : <a href="mailto:strudel-community+subscribe@lbl.gov" target="_blank">strudel-community+subscribe@lbl.gov</a>
        </li>
    </ul>

    <h2>Contribute to the STRUDEL project</h2>
    <p>You can contribute to the STRUDEL project in the following ways:
    <br/></p>
    
    <ul>
        <li>Share your feedback on the STRUDEL typology, design system, design UI library and our overall efforts on democratizing User eXperience resources.
        </li>
        <li>We are planning on conducting workshops and surveys to understand your perspectives on STRUDEL. Your contributions will help us better serve the community.
        </li>
        <li>Help us start a US-RSE UX working group. This group will share knowledge, experiences, and work towards greater recognition of UX in Science among our community.
        </li>
    </ul>
   
</div>
{{> pagefooter }}
</body>
</html>
